header.header  
    .header__colume
        a(href=routes.home)
            i.fab.fa-youtube 
    .header__colume
        ul
            li
                a(href=routes.join) Join
            li  
                a(href=routes.login) Log In